@model BugTracker.Models.UserRoleViewModel
@{
    ViewBag.Title = "ChangeRole";
}

<h2>ChangeRole</h2>

<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Blank Page
                    <small>Subheading</small>
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-file"></i> Blank Page
                    </li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <p>
                    User: @Model.Name
                </p>

                @using (Html.BeginForm())
                {
                    @Html.HiddenFor(p => p.Id)

                    @Html.ListBoxFor(p => p.SelectedRoles, Model.Roles)

                  <button type="submit">Please Submit!</button>
                }
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->