@model BugTracker.Models.Classes.Project
@{
    ViewBag.Title = "Details";
}
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" style="color:greenyellow;text-align:center;font-style:oblique">
                    Project
                    <small style="color:greenyellow;text-align:center;font-style:oblique">Change Project</small>
                </h1>
                @*<ol class="breadcrumb">
                        <li>
                            <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                        </li>
                        <li class="active">
                            <i class="fa fa-file"></i> Blank Page
                        </li>
                    </ol>*@
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h2 style="color:red;text-align:center;font-style:oblique">Details</h2>
                <div>
                    <h4 style="color:red;text-align:center;font-style:oblique">Project</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                    </dl>
                </div>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
<style>
    body {
        background-color: gold;
    }
</style>


