@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1 style="color:red;text-align:center;font-style:oblique">@ViewBag.Title.</h1>
</hgroup>
<div>
    <p style="color:blue;text-align:center;">
        **Please check your email to reset your password.**
    </p>
</div>
<style>
    body {
        background-color: gold;
    }
</style>
	
